section {
    float: left;
    width: 63%;
}
aside {
    float: right;
    width: 30%
}
footer {
    clear: both;
}

figure {
    display: inline-block;
    border: 1px solid gray;
    margin: 20px; /* adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
    border: 1px solid blue;
    text-align: center;
}
canvas {
    border: 1px solid gray;
}